body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
    background-color: rgb(252, 248, 248);
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}